<div class="sidebar-module sidebar-module-inset">
  <form action="/search/" method="GET">
    <input type="text" name="q">
    <input type="submit" value="Search">
  </form>
</div>

<div class="sidebar-module">
    <h4>Tags</h4>
       {% for tag in tag_list %}
       <ol class="list-unstyled">
           <li><a href="{% url 'tagdetail' tag.pk %}">{{ tag.slug }}</a></li>
       </ol>
      {% endfor %}
</div>

<div class="sidebar-module">
  <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/akonkoo">GitHub</a></li>
      <li><a href="http://weibo.com/348013444">Weibo</a></li>
    </ol>
</div>

<div class="sidebar-module">
  <h3><a href="/admin">Login</a></h3>
</div>